<!-- [ Header ] start -->
<header
  class="
    navbar
    pcoded-header
    navbar-expand-lg navbar-light
    headerpos-fixed
    header-blue
  "
>
  <div class="m-header">
    <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
    <a href="#!" class="b-brand">
      Robo Car
      <!-- ========   change your logo hear   ============ -->
    </a>
    <a href="#!" class="mob-toggler">
      <i class="feather icon-more-vertical"></i>
    </a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li>
        <a data-toggle="modal" href="#myModal"
          ><i class="fas fa-question-circle fa-2x"></i
        ></a>
      </li>
    </ul>
  </div>
</header>
<!--Bootstrap Modal to insert youtube video-->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Tutorial Video</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe
          width="750"
          height="475"
          src="https://www.youtube.com/embed/XsIJHvFCS-Q"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- [ Header ] end -->
